<ion-side-menus enable-menu-with-back-views="false" ng-controller="NavbarCtrl" ng-init="init()">
  <ion-side-menu-content>
    <ion-nav-bar class="bar bar-header bar-positive" align-title="left">
		<ion-nav-back-button>
		</ion-nav-back-button>
		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-android-arrow-back" menu-toggle="left" ng-hide="isHasAction('home')" ng-click="goBack()">
			</button>
			<i class="fa fa-home button icon button-icon ng-hide" aria-hidden="true" ng-show="isHasAction('home')" ng-click="goHome()"></i>
		</ion-nav-buttons>
		<ion-nav-buttons side="right" id="global-head-actions">
			<i class="button global-action button-icon icon fa fa-upload ng-hide" ng-disabled="disabled['upload']" aria-hidden="true" ng-click="exeMainAction('upload')" ng-show="isHasAction('upload')"></i>
			<i class="button global-action button-icon icon fa fa-refresh ng-hide" aria-hidden="true" ng-click="exeMainAction('sync')" ng-show="isHasAction('sync')"></i>
			<i class="button global-action button-icon icon fa fa-floppy-o ng-hide" aria-hidden="true" ng-click="exeMainAction('save')" ng-show="isHasAction('save')"></i>
			<i class="button button-icon global-action icon fa fa-trash-o ng-hide" ng-disabled="disabled['delete']" ng-click="exeMainAction('delete')" ng-show="isHasAction('delete')"></i>
			<i class="button global-action button-icon icon fa fa-pencil ng-hide" aria-hidden="true" ng-click="exeMainAction('edit')" ng-show="isHasAction('edit')"></i>
			<button class="button global-action button-icon icon ion-android-cancel ng-hide" ng-click="exeMainAction('discard')" ng-show="isHasAction('discard')"></button>
			<i class="button global-action button-icon icon fa fa-angle-left ng-hide" aria-hidden="true" ng-click="exeMainAction('prev')" ng-show="isHasAction('prev')"></i>
			<i class="button global-action button-icon icon fa fa-angle-right ng-hide" aria-hidden="true" ng-click="exeMainAction('next')" ng-show="isHasAction('next')"></i>
			
			<button class="button button-icon icon ion-android-more-vertical ng-hide" ng-click="popover.show($event)" ng-show="subActions.length > 0"></button>
			
			
			<i class="fa fa-file-o button icon button-icon global-action ng-hide" aria-hidden="true" ng-show="isHasAction('news') && news > 0" ng-click="goNewsPage()">
				<span class="counter">{{news}}</span>
			</i>
			<i class="fa fa-file-text-o button icon button-icon global-action ng-hide" aria-hidden="true" ng-show="isHasAction('modifications') && modified > 0" ng-click="goModificationPage()">
				<span class="counter">{{modified}}</span>
			</i>
			
			<button class="button icon button-icon ion-ios-search-strong ng-hide" ng-click="exeMainAction('search')" ng-show="isHasAction('search')"></button>
		</ion-nav-buttons>
	</ion-nav-bar>
    <ion-nav-view name="menuContent">
	</ion-nav-view>
	<ion-nav-view name="quickActionsContent"></ion-nav-view>
	
	<ion-nav-view name="searchContent">
		<div class="button-bar" id="quick-actions-bar" ng-show="isSearchEnabled">
		  <div class="bar bar-header item-input-inset">
			  <label class="item-input-wrapper">
				<i class="icon ion-ios-search placeholder-icon"></i>
				<input type="search" placeholder="Search">
			  </label>
			  <button class="button button-clear" ng-click="cancelSearchingg()">
				Cancel
			  </button>
			</div>
		</div>
	</ion-nav-view>

	<script id="templates/popover.html" type="text/ng-template">
      <ion-popover-view class="fit">
        <ion-content scroll="false">
          <div class="list">
          <div ng-repeat="sub in subActions">
            <button class="button button-clear button-subactions" ng-disabled="disabled['{{sub.name}}']" ng-click="exeSubAction('{{sub.name}}')">
              {{sub.name}}
            </button>
            </div>           
          </div>
        </ion-content>
      </ion-popover-view>
    </script>

  </ion-side-menu-content>
</ion-side-menus>
