<ion-view ng-init="init()" view-title="{{viewTitle}}">
    <!--Step photo upload-->
    <ion-header-bar class="add-new-headerbar" align-title="center">
        <div id="addnew-step2" style="width: 100%">
            <div id="addnew-photo-preview">
                <img ng-show="imgURI.length==0" src="./img/nophoto.jpg" style="width: 130px;height: 150px;padding-top: 10px">
                <ion-slides options="galleryOptions" slider="data.slider" ng-show="imgURI.length >2">
                    <ion-slide-page ng-repeat="image in imgURI" style="width: 130px !important">
                        <div>
                            <div class="ion-slides-delete" ng-click="deleteImg(image.PhotoUrl,image.Photoid)"></div>
                            <img style="width: 130px;height: 130px" zoom-src="{{$index}}" ng-src="{{image.PhotoUrl}}" zoom-view>
                        </div>
                    </ion-slide-page>
                </ion-slides>          
                <div style="width: 100%;text-align: center;" ng-show="imgURI.length >0 && imgURI.length <= 2">
                    <div class="gallery-custom-imagecenter" ng-repeat="image in imgURI">
                        <div class="ion-slides-delete" ng-click="deleteImg(image.PhotoUrl,image.Photoid)"></div>
                        <img style="width: 130px;height: 130px" zoom-src="{{$index}}" ng-src="{{image.PhotoUrl}}" zoom-view>
                    </div>
                </div>

               
            </div>
            <div class="action-camera-button">
                <a class="button button-icon icon ion-ios-camera" ng-click="choosePhotoAction()"></a>
            </div>
        </div>
    </ion-header-bar>
    <ion-content class="add-new-ioncontent">
        <div class="show-error">
            <ul ng-repeat="error in errors">
                <li>{{error.message}}</li>
            </ul>
        </div>
        <form name="addEditForm" novalidate>
            <div class="list">
                <!--Step Required field-->
                <div id="addnew-step1" ng-show="step==1">
                    <label class="item item-input">
                <span class="input-label">Title<span class="input-required"> * </span></span>
                <input type="text" placeholder="Title" autofocus  ng-model="goodItem.Title" required>
                </label>
                    <label class="item item-input">
                        <span class="input-label">Category</span> 
                        <button  style="float: right;padding-bottom: 3px" ng-show="editMode==false" ng-hide="goodItem.Category.length>0" ng-click="showPopup()" class="button button-clear button-positive" >
                                Choose category
                        </button>
                        <div class="col-66" id="category-ellipsis" ng-show="goodItem.Category.length>0" ng-model="goodItem.Category">
                        {{CatesName}}                 
                        </div>
                    </label>
                    <label class="item item-input">
                    <span class="input-label">Condition<span class="input-required"> * </span></span>
                    <input type="text" placeholder="Condition" ng-model="goodItem.Condition" required>
                </label>                  
                    <label class="item item-input">
                    <span class="input-label">Quantity<span class="input-required"> * </span></span>
                    <input type="number" placeholder="Quantity" ng-model="goodItem.Quantity" required>
                </label>
                    <label class="item item-input">
                    <span class="input-label">SalePrice ({{CurrencyUnit}})<span class="input-required"> * </span></span>
                    <input type="text" ng-trim="false" placeholder="SalePrice" ng-model="goodItem.SalePrice" awnum='{{strategy}}'/>
                </label>
                    <label class="item item-input">
                    <span class="input-label">Price ({{CurrencyUnit}})</span>
                    <input type="text" placeholder="Price" ng-model="goodItem.Price" awnum='{{strategy}}'>                     
                </label>
                  <label class="item item-input">
                    <span class="input-label">Brand</span>
                    <input type="text" placeholder="Brand" ng-model="goodItem.Brand">
                </label>
                    <label class="item item-input">
                    <span class="input-label">Description</span>
                    <input type="text" placeholder="Description" ng-model="goodItem.Description">
                </label>
                </div>
                <!--Step 3 optional field-->
                <div id="addnew-step3" ng-show="inputMore.hide">
                    <a id="anchorPrice"></a>
                    <label class="item item-input">
                    <span class="input-label">Weight</span>
                    <input type="number" placeholder="Weight" ng-model="goodItem.Weight">
                </label>
                    <label class="item item-input">
                    <span class="input-label">GSTType</span>
                    <input type="number" placeholder="GSTType" ng-model="goodItem.GstType">
                </label>
                    <label class="item item-input">
                    <span class="input-label">SaleType</span>
                    <input type="text" placeholder="SaleType" ng-model="goodItem.SaleType">
                </label>
                    <label class="item item-input">
                    <span class="input-label">ModelSKUCode</span>
                    <input type="text" placeholder="ModelSkuCode" ng-model="goodItem.ModelSkuCode">
                </label>
                    <label class="item item-input">
                    <span class="input-label">State</span>
                    <input type="text" placeholder="State" ng-model="goodItem.State">
                </label>
                    <label class="item item-input">
                    <span class="input-label">Whopay</span>
                    <input type="text" placeholder="WhoPay" ng-model="goodItem.WhoPay">
                </label>
                    <label class="item item-input">
                    <span class="input-label">Shiptolocation</span>
                    <input type="text" placeholder="Shiptolocation" ng-model="goodItem.ShipToLocation">
                </label>
                    <label class="item item-input">
                    <span class="input-label">Shippingmethod</span>
                    <input type="text" placeholder="Shippingmethod" ng-model="goodItem.ShippingMethod">
                </label>
                    <label class="item item-input">
                    <span class="input-label">PaymentMethod</span>
                    <input type="text" placeholder="PaymentMethod" ng-model="goodItem.PaymentMethod">
                </label>
                <div ng-show="editMode==true">
                 <label class="item item-input">
                    <span class="input-label">LastEdited</span>
                    <p class="detail-value">{{goodItem.LastEdited}}</p>
                  </label>
                  <label class="item item-input">
                    <span class="input-label">LastSync</span>
                    <p class="detail-value">{{goodItem.LastSync}}</p>
                  </label>
                  <label class="item item-input">
                    <span class="input-label">CreatedDate</span>
                    <p class="detail-value">{{goodItem.CreatedDate}}</p>
                  </label>
                  </div>    
                </div>
            </div>
        </form>
    </ion-content>
    <span class="popup-button inputmore">
        <a class="button button-icon icon" style="padding-top: 0px" ng-class="inputMore.class" ng-click="showMoreInput(inputMore.hide)"></a>
    </span>
</ion-view>