<ion-view view-title="">
    <ion-content ng-init="init()">
        <div class="list">
            <!--Step 1-->
            <div id="addnew-step1" ng-show="step==1">
                <label class="item item-input item-stacked-label">
                <span class="input-label">Title</span>
                <input type="text" placeholder="Title" ng-model="goodItem.Title">
            </label>
                <label class="item item-input item-stacked-label">
                <span class="input-label">Category</span>
                <input type="text" placeholder="Category" ng-model="goodItem.Category">
            </label>
                <label class="item item-input item-stacked-label">
                <span class="input-label">Condition</span>
                <input type="text" placeholder="Condition" ng-model="goodItem.Condition">
            </label>
                <label class="item item-input item-stacked-label">
                <span class="input-label">Brand</span>
                <input type="text" placeholder="Brand" ng-model="goodItem.Brand">
            </label>
                <label class="item item-input item-stacked-label">
                <span class="input-label">Price</span>
                <input type="text" placeholder="Price" ng-model="goodItem.Price">
            </label>
            </div>
            <!--Step 2 photo upload-->
            <div id="addnew-step2" ng-show="step==2">
                <div id="addnew-photo-preview">
                    <ion-scroll direction="x" class="available-scroller" ng-show="imgURI.length>0">
                        <ion-gallery ion-gallery-items="imgURI"  ion-gallery-row="10" ion-gallery-toggle="true"></ion-gallery>
                    </ion-scroll>
                    <img ng-show="imgURI.length==0" src="./img/nophoto.jpg" style="width: 100px;">                    
                </div>
                <div style="display: flex;padding-top: 20px;">
                    <button class="button icon ion-ios-camera" ng-click="choosePhotoAction()"> 
                    <span>Add photo</span>
                </button>
                </div>
            </div>
            <!--Step 3 optional field-->
            <div id="addnew-step3" ng-show="step==3">
                <label class="item item-input item-stacked-label">
                <span class="input-label">Quantity</span>
                <input type="number" placeholder="Quantity">
            </label>
                <label class="item item-input item-stacked-label">
                <span class="input-label">Weight</span>
                <input type="number" placeholder="weight">
            </label>
                <label class="item item-input item-stacked-label">
                <span class="input-label">Whopay</span>
                <input type="text" placeholder="whopay">
            </label>
                <label class="item item-input item-stacked-label">
                <span class="input-label">shiptolocation</span>
                <input type="text" placeholder="Shiptolocation">
            </label>
                <label class="item item-input item-stacked-label">
                <span class="input-label">Shippingmethod</span>
                <input type="text" placeholder="Shippingmethod">
            </label>
            </div>
        </div>
    </ion-content>
</ion-view>