<ion-view view-title="Goods" ng-init="init()"  hide-back-button="true">
	<ion-content>
		
	</ion-content>
	
	
	<ion-tabs class="tabs-positive tabs-icon-top tabs-fullwidth" ng-class="tabclass" tabs-style="tabs-icon-top" tabs-type="tabs-positive" animation="slide-left-right">
		
	  <!-- ion-tab title="All" icon-on="ion-grid" icon-off="ion-grid" ui-sref="app.completes.alltab">
		<ion-nav-view name="allTab">
		</ion-nav-view>
			<!-- Tab 1 content -->
	  <!-- /ion-tab -->

	  <ion-tab title="Unpublish" icon-on="ion-iphone" icon-off="ion-iphone" ui-sref="app.completes.unsynctab">
		<ion-nav-view name="unsyncTab">
			<!-- Tab 2 content -->
		</ion-nav-view>
	  </ion-tab>

	  <ion-tab title="Published" icon-on="ion-android-cloud" icon-off="ion-android-cloud-outline" on-select="onTabSelected()" on-deselect="onTabSelected()"  ui-sref="app.completes.syncedtab">
		<ion-nav-view name="syncedTab">
			<!-- Tab 3 content -->
		</ion-nav-view>
	  </ion-tab>

	</ion-tabs>
	<span class="popup-button" ng-show="popButton == 'addnew'">
		<a class="button button-icon icon ion-android-add" ng-click="addnewButtonClick()"></a>
	</span>
	<span class="popup-button sync" ng-show="popButton == 'syncall'">
		<a class="button button-icon icon ion-android-sync" ng-click="syncAll()"></a>
	</span>
</ion-view>