<ion-view view-title="Goods" ng-init="init()">
	<ion-content>
		
	</ion-content>
	
	
	<ion-tabs class="tabs-positive tabs-icon-top" ng-class="tabclass">
	  <ion-tab title="All" icon-on="ion-grid" icon-off="ion-grid">
		<!-- Tab 1 content -->
		<ion-content class="has-header tab-content">
			<span class="filter-caption" ng-show="filterMessage && filterMessage != ''">{{filterMessage}}</span>
			<div class="list" id="list-readmode" ng-hide="quickactions">
				<p class="item" ng-show="goods.length == 0">No items</p>
				<a ng-repeat="g in goods" class="item item-thumbnail-left" ng-class="goodSlided" href="#/navbar/detail/{{g.GoodPublishId}}" on-swipe-left="goodSwipeLeft()" on-hold="goodOnHold('synced')" ng-disabled="quickactions">
				  <div class="main_photo">
						<img src="{{g.photoUrl}}"/>
						<img class="inlay" src="./img/Check-icon.png" />
					</div>				
				  <h2>{{g.Title}}</h2>
				  <p>{{g.Description}}</p>
				  <span class="quantity"><span class="small">QTY</span> {{g.Quantity}}</span>
				  <p class="price"><span class="small">RM</span> {{g.SalePrice}}</p>
				  <button class="button button-small button-icon edit-button ion-edit" ng-click="editButtonClick($event)"></button>
				</a>
			</div>
			
			<div ng-repeat="g in goods" class="list" id="list-editmode" ng-show="quickactions">
				<ion-checkbox ng-model="g.Checked">
					<a class="item item-thumbnail-left">
					  <img src="{{g.photoUrl}}">
					  <h2>{{g.Title}}</h2>
					  <p>{{g.Description}}</p>
					  <span class="quantity"><span class="small">QTY</span> {{g.Quantity}}</span>
					  <p class="price"><span class="small">RM</span> {{g.SalePrice}}</p>
					</a>
				</ion-checkbox>
			</div>
		
		</ion-content>
	  </ion-tab>

	  <ion-tab title="Unsync" icon-on="ion-iphone" icon-off="ion-iphone">
		<!-- Tab 2 content -->
		<ion-content class="has-header tab-content">
			<span class="filter-caption" ng-show="filterMessage && filterMessage != ''">{{filterMessage}}</span>
			<span class="filter-caption" ng-show="filterMessage && filterMessage != ''">{{filterMessage}}</span>
			<div class="list" id="list-readmode" ng-hide="quickactions">
				<p class="item" ng-show="goods.length == 0">No items</p>
				<a ng-repeat="g in goods" class="item item-thumbnail-left" ng-class="goodSlided" href="#/navbar/detail/{{g.GoodPublishId}}" on-swipe-left="goodSwipeLeft()" on-hold="goodOnHold('synced')" ng-disabled="quickactions">
				  <img src="{{g.photoUrl}}">
				  <h2>{{g.Title}}</h2>
				  <p>{{g.Description}}</p>
				  <span class="quantity"><span class="small">QTY</span> {{g.Quantity}}</span>
				  <p class="price"><span class="small">RM</span> {{g.SalePrice}}</p>
				  <button class="button button-small button-icon edit-button ion-edit" ng-click="editButtonClick($event)"></button>
				</a>
			</div>
			
			<div ng-repeat="g in goods" class="list" id="list-editmode" ng-show="quickactions">
				<ion-checkbox ng-model="filter.red">
					<a class="item item-thumbnail-left">
					  <img src="{{g.photoUrl}}">
					  <h2>{{g.Title}}</h2>
					  <p>{{g.Description}}</p>
					  <span class="quantity"><span class="small">QTY</span> {{g.Quantity}}</span>
					  <p class="price"><span class="small">RM</span> {{g.SalePrice}}</p>
					</a>
				</ion-checkbox>
			</div>
		</ion-content>
	  </ion-tab>

	  <ion-tab title="Synced" icon-on="ion-android-cloud" icon-off="ion-android-cloud-outline">
		<!-- Tab 3 content -->
		<ion-content class="has-header tab-content">
			
		</ion-content>
	  </ion-tab>

	</ion-tabs>
	<span id="addnew-button">
		<a class="button button-icon icon ion-android-add" href="#/navbar/addnew" ng-click="addnewButtonClick()"></a>
	</span>
	
</ion-view>