<ion-view ng-init="init()">
	<ion-nav-title>
		<span>{{representer.title}}  ({{pubCounter}})</span>
		<span class="counter-tabs">
			<i class="fa fa-file-o button icon button-icon global-action ng-hide" ng-class="activates['news']" style="margin-left: 0px;margin-top: 5px;padding: 0px" aria-hidden="true" ng-show="news > 0" ng-click="goNewsPage()">
				<span class="counter">{{news}}</span>
			</i>
			<i class="fa fa-file-text-o button icon button-icon global-action ng-hide" ng-class="activates['modifications']" style="margin-left: 0px;margin-top: 5px;padding: 0px" aria-hidden="true" ng-show="modified > 0 " ng-click="goModificationPage()">
				<span class="counter">{{modified}}</span>
			</i>
		 </span>
	</ion-nav-title>
	<ion-content class="has-header tab-content" lazy-scroll>
		<span class="filter-caption" ng-show="filterMessage && filterMessage != ''">
			<pre>{{filterMessage}}</pre>
			<a class="button button-small button-icon icon ion-android-cancel" ng-click="exitSearching()"></a>
		</span>
		<div class="list list-readmode" ng-hide="quickactions">
			<p class="item" ng-show="representer.goods.length == 0">No items</p>
			
			<div ng-show="viewmode == 'grid'" ng-repeat="num in representer.goods" class="row" ng-if="$index % 3 == 0" ng-init="group = representer.goods.slice($index, $index + 3)">
				<div class="col col-33" ng-repeat="g in group"  id="g{{g.GoodPublishId}}" on-hold="goodOnHold(representer.type)" ng-disabled="quickactions" ng-hide="g.hidden" on-tap="goodClick($event, g.GoodPublishId)" ng-hide="g.hidden">
					<a class="item-grid">
						<span class="avt">
							<!-- img ng-src="{{g.PhotoUrl}}"/ --> 
							<img image-lazy-src="{{g.PhotoUrl}}" image-lazy-loader="spiral" image-lazy-distance-from-bottom-to-load="0">
						</span>
						<span class="price">{{CurrencyUnit}}{{g.SalePrice | awnum:strategy}}</span>
						<span class="title">{{g.Title}}</span>
					</a>
				</div>
			</div>
		</div>
		
		<div class="list list-editmode" ng-show="quickactions">
			<div ng-show="viewmode == 'grid'" ng-repeat="num in representer.goods" class="row" ng-if="$index % 3 == 0" ng-init="group = representer.goods.slice($index, $index + 3)">
				<ion-checkbox ng-repeat="g in group"  id="g{{g.GoodPublishId}}" class="col col-33" ng-model="g.Checked" ng-hide="g.hidden">
					<a class="item-grid">
						<span class="avt">
							<img ng-src="{{g.PhotoUrl}}"/> </span>
						<span class="price">{{CurrencyUnit}}{{g.SalePrice | awnum:strategy}}</span>
						<span class="title">{{g.Title}}</span>
					</a>
				</ion-checkbox>
			</div>
		</div>
		<ion-infinite-scroll ng-if="representer.hasRemainGoods"
			ng-show="representer.hasRemainGoods"
			on-infinite="getGoodsInTabs(representer, '{{filterMessage}}')"
			distance="15%">
		</ion-infinite-scroll>
		<br/>
		
	</ion-content>
	<fab-menu></fab-menu>
</ion-view>