
<div class="button-bar" id="quick-actions-bar" ng-show="quickactions || searchaction">
  <a class="button-icon icon ion-android-arrow-back back" ng-click="updateQuickActions(false, '')"></a>
  <button class="button icon ion-upload" title="Upload" ng-show="quickactions && (list == 'all' || list == 'unsynced')"></button>
  <button class="button icon ion-trash-b" ng-show="quickactions"></button>
  <div class="bar bar-header item-input-inset" ng-show="searchaction">
	  <label class="item-input-wrapper">
		<i class="icon ion-ios-search placeholder-icon"></i>
		<input type="search" placeholder="Search">
	  </label>
	  <button class="button button-clear" ng-click="cancelSearchingg()">
		Cancel
	  </button>
	</div>
	
	
</div>


