
<!--<ion-header-bar class="bar-light" align-title="center" style="padding-top:1em; height:51px;">
    <div class="title" style="height:100%"><img class="title-image" src="/img/lelong-logo.png" /></div>
</ion-header-bar>-->

<ion-view view-title="Sign-In" name="login-view">
    <ion-content class="padding" ng-controller="loginCtrl">
        <div class="title"  style="height:51px; text-align: center;"><img class="title-image" src="./img/lelong-logo.png" /></div>
        <div><span style="color:red">{{errorMessage}}</span><div>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Username" ng-model="username">
            </label>
            <div style="height: 1em;"></div>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="password">
            </label>
        </div>
        <button class="button button-block button-positive" ng-click="login()">Login</button>
    </ion-content>
</ion-view>
