<ion-view view-title="Setup Wizards">
<ion-content ng-controller="WizardCtrl" ng-init="initWizard()">
    <span style="color:red">{{errorMessage}}</span> 
    <div class="list">
        <label class="item item-input item-stacked-label">
        <span class="input-label">Your items will usually ship in</span>
        <input type="number" placeholder="[choice of days]" ng-model="objWizard.DaysOfShip"/>
        </label>   
    
        <label class="item item-input item-stacked-label">
            <span class="input-label">Select 3 of your items category</span>
            <div style=" height: 300px;overflow-y: scroll;overflow-x: hidden">
                <ion-checkbox ng-repeat="item in defaultvalue"
                    ng-model="checkItems[item.code]" >            
                        {{ item.name }}
                </ion-checkbox>
            </div>           
         </label>
         <label class="item item-input item-stacked-label">
            <span class="input-label">Shipping Fees for</span> 
            <div><span style="font-weight: 500"> Peninsular <input placeholder="[per Item / KG / FOC]" ng-model="peninsular"/></span></div>
            <div><span style="font-weight: 500"> East Malaysia <input placeholder="[per Item / KG / FOC]" ng-model="eastmalaysia"/></span></div>
         </label>
    </div>
    <div style="position: absolute; bottom: 0px; width: 100%">
        <div style="text-align: center">
         <button class="button button-block button-positive" ng-click="save()">Save</button>
        </div>
    </div>  
</ion-content>
</ion-view>