<ion-view view-title="Setup Wizards">
<ion-content class="padding" ng-controller="WizardCtrl" ng-init="initWizard()">
    <span style="color:red">{{errorMessage}}</span> 
    <div class="list">
        <label class="item item-input item-stacked-label">
        <span class="input-label">Your items will usually ship in</span>
        <input type="number" placeholder="[choice of days]" ng-model="objWizard.DaysOfShip"/>
        </label>   
    
        <label class="item item-input item-stacked-label">
            <span class="input-label">Select 3 of your items category</span>
            <div style=" height: 200px;overflow-y: scroll;overflow-x: hidden">
                <ion-checkbox ng-repeat="item in defaultvalue"
                    ng-model="checkItems[item.code]" >            
                        {{ item.name }}
                </ion-checkbox>
            </div>           
         </label>
         <label class="item item-input item-stacked-label">
            <span class="input-label">Shipping Fees for</span> 
            <div><span style="font-weight: 500"> Peninsular <input type="number" placeholder="[per Item / KG / FOC]" ng-model="peninsular"/></span></div>
            <div><span style="font-weight: 500"> East Malaysia <input type="number" placeholder="[per Item / KG / FOC]" ng-model="eastmalaysia"/></span></div>
         </label>
         <label class="item item-input item-stacked-label">
            <span class="input-label">Select currency unit</span>
            <div>
                <select ng-model="currency" ng-options="x.code as x.name for x in defaultcurrency"></select>
            </div>           
         </label>
    </div>
   <button class="button button-block button-positive" ng-click="save()">Save</button>
</ion-content>
</ion-view>