/* Empty. Add your own CSS if you like */
.small{font-size: 12px}
#goods-list{top:93px}
#menulist .icon{font-size: 26px; opacity: 0.8}
#menulist a.item:hover{background: #d6d6d6}

#quick-actions-bar{position: fixed; top:0;left: 0; z-index: 20;height: 47px; background: #f8f8f8;}
#quick-actions-bar .right-panel{position: absolute; right: 0}
#quick-actions-bar *{color: #676767  !important}
#quick-actions-bar .back{display: block;
    padding: 7px 10px;
    color: #444;}

/*.button-clear.button-clear{    color: #b2b2b2;}*/
.ionic .item-input-wrapper{    background: #eee}

.list .detail-value{    color: #707070;
    margin-top: 5px;
    margin-bottom: 10px !important;
	white-space: initial;}
.list .input-label{font-weight: 500}

.gallery-view .row{height: 100px !important; padding:0 !important}
.gallery-view .row .image-container{display: inline-block; overflow: inherit;padding: 0;border-right: none;}
.gallery-view .row .image-container img{position: initial}

.tab-content{top:44px}
a[disabled] {
    pointer-events: none;
}

#list-readmode{margin-bottom: 80px}
#list-readmode > a.item{left:0}
#list-readmode > a.item.slided{
	left: -100%;
	-webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}
#list-readmode > a.item .price{
	color: #ff2424;
	font-size: 16px;
	position: absolute;
	/* bottom: 7px; */
}
#list-readmode > a.item .quantity{
	font-size: 16px;
}
#list-readmode > a.item .edit-button{
	position: absolute;
	right:10px;
	bottom: 7px;
	padding: 0 15px;
	font-size: 15px
}

#addnew-button{
	position: fixed;
    bottom: 60px;
    right: 20px;
    background: #ff7676;
    z-index: 10;
    width: 55px;
    height: 55px;
    text-align: center;
    border-radius: 30px;
	box-shadow: -1px 2px 3px 0px rgba(143, 143, 143, 0.52);
}

#addnew-button .button{
	color: white;
    padding-top: 4px;
}
/*Addnew page*/
#addnew-photo-preview{
    text-align: center;
    padding: 0px;
    padding-top: 15px;
}
.slider-pager{
    bottom: 0px !important;
}
/*End Addnew page*/
#detail-actions .button{border-radius: 0}
.pop-mask{    background: white;
    opacity: 0.7;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 5;}

.tabhide .tab-nav a{pointer-events: none; opacity: 0.3}
.global-action{margin-left: 10px; }
.global-action:before{font-size: 25px !important;}

#gallery{position: fixed; top: 45px}
.detail-form{top:160px}

.filter-caption{background: #f5cdcd;
    line-height: 26px;
    display: block;
    padding-left: 15px;}
.button.tiny-icon:before{font-size: 14px !important}
/*ion-header-bar{background: #387ef5;}
ion-header-bar *{color: white !important;} */

.item-thumbnail-left>.main_photo>img:first-child{
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 80px;
    max-height: 80px;
    width: 100%;
    height: 100%;
}
.item-thumbnail-left>.main_photo>img:first-child{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font: inherit;
    font-size: 100%;
}
.item-thumbnail-left>.main_photo>.inlay-hidden{
    visibility: hidden;
}
.item-thumbnail-left>.main_photo>.inlay{
    position:absolute;
    top:10px;
    left:10px;      
    max-width: 32px;
    max-height: 32px;
    width: 100%;
    height: 100%;
}
.button-style{
    width: 95% !important;
    margin: 0 auto !important;
}