/* Empty. Add your own CSS if you like */
#goods-list{top:93px}
#menulist .icon{font-size: 26px; opacity: 0.8}
#menulist a.item:hover{background: #d6d6d6}

#quick-actions-bar{position: fixed; top:0;left: 0; z-index: 20;height: 47px; background: #f8f8f8;}